/* Journey to the Center of the Earth Practicum */
/* Jeremiah Curtis */

body{
    background-color: #886644;
    margin: 3em;
    filter: drop-shadow(10px 10px 10px black);
}

header{
    text-align: center;
    color: white;
    filter: drop-shadow(10px 10px 10px black);
    border: 5px solid #886644;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav{
    border: 5px solid #886644;
    background-color: whitesmoke;
    text-align: center;
    filter: drop-shadow(10px 10px 10px black);
}

/*The book section leading into the main paragraphs*/
h2{
    text-align: left;
}

main{
    background-color: whitesmoke;
    border: 5px solid #886644;
    filter: drop-shadow(10px 10px 10px black);
}

main img{
    float: left;
    padding: 20px;
}

main figure{
    align-content: center;
}

main figcaption{
    text-align: center;
}

aside{
    border: 5px solid #886644;
    background-color: whitesmoke;
    filter: drop-shadow(10px 10px 10px black);
}

footer{
    background-color: whitesmoke;
    text-align: center;
    filter: drop-shadow(10px 10px 10px black);
    border: 10px solid #886644;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

